/.idea/
/study/.gradle/
/study/.idea/
/study/out/
/study/study.iml
/README.md
/study/src/com/dtag/GenericTree/
/study/src/com/dtag/Trie/
/study/src/com/dtag/TxtAnalysis/
/study/src/com/dtag/WFMTAT/
